* {
  padding: 0;
  margin: 0;
  font-family: "josefin sans", Arial;
}

:root {
  --blue: #acd0e2;
  --green: #97ceb3;
  --pink: #e29fcc;
}

body {
  background-color: #f6f6ef;
}

.main-background {
  background: linear-gradient(
    45deg,
    rgba(151, 206, 179, 1) 0%,
    rgba(151, 206, 179, 1) 20%,
    rgba(172, 208, 226, 1) 50%,
    rgba(226, 159, 204, 1) 80%,
    rgba(226, 159, 204, 1) 100%
  );
  min-height: 600px;
  height: 75vh;
  width: 100%;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.floating-topleft {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  max-width: 40%;
}
.floating-logo img {
  width: 100%;
}
.floating-timer {
  position: fixed;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.75rem;
  padding: 0.25rem;
  padding-top: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  letter-spacing: 0.2rem;
  text-align: center;
  transition-duration: 0.33s;
  animation-duration: 1s;
  line-height: 1.75rem;
}

.floating-timer-offset {
  transform: translate(0, 2.5rem);
}

.countdown-live {
  color: var(--green);
}

.floating-topright {
  display: flex;
  width: 40%;
  justify-content: end;
}

.floating-topright div {
  padding: 0.5rem;
  text-align: center;
}

.floating-topright div div {
  padding: 0rem;
}

.cart-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  border-radius: 100%;
  width: 1.75rem;
  height: 1.75rem;
}

.cart-amount p {
  margin-top: 2px;
  width: 100%;
}

.season2-intro {
  margin-top: 7rem;
  background-image: url(img/soothing.gif);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 40%;
  justify-content: center;
  align-items: center;
}

.season2-intro img {
  height: 25%;
  background-color: white;
}

.floating-menu-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  position: fixed;
  width: 250px;
  bottom: 2rem;
  right: 1rem;
  z-index: 2;
}

.floating-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  border: 2px solid black;
  padding: 0.75rem;
  transition-duration: 0.3s;
}

.floating-menu:active {
  transform: scale(1.2);
}

.floating-menu div {
  width: 2rem;
  height: 4px;
}

.menu-line-g {
  background-color: var(--green);
}

.menu-line-b {
  background-color: var(--blue);
}

.menu-line-p {
  background-color: var(--pink);
}

.floating-menu-tabs {
  display: none;
  opacity: 0;
  flex-direction: column;
  width: 100%;
  text-align: center;
  transition-duration: 0.2s;
}
.floating-menu-tabs a {
  background-color: white;
  border: 2px solid black;
  padding: 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
  font-size: 20px;
  box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.205);
}

.tab-g {
  color: var(--green);
}

.tab-g:hover {
  color: white;
  background-color: var(--green);
}
.tab-g:active {
  color: white;
  background-color: var(--green);
}
.tab-b {
  color: var(--blue);
}

.tab-p {
  color: var(--pink);
}

.notify {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  background: linear-gradient(
    45deg,
    rgba(151, 206, 179, 1) 0%,
    rgba(151, 206, 179, 1) 20%,
    rgba(172, 208, 226, 1) 50%,
    rgba(226, 159, 204, 1) 80%,
    rgba(226, 159, 204, 1) 100%
  );
  border: none;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}
.notify-mark {
  position: absolute;
  margin-left: 10rem;
  margin-top: 0rem;
  background-color: white;
  border: var(--pink) solid 2px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  color: lightcoral;
  line-height: 1.5rem;
}

.notify-modal {
  display: none;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.notify-modal-darken {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.notify-modal-container {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: 2px solid black;
  width: 70%;
  height: 50%;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  z-index: 4;
}

.notify-modal-container h2 {
  padding: 0.5rem;
  text-align: center;
}

.notify-modal-container input {
  width: 95%;
  height: 1.5rem;
  padding: 0.25rem;
}

.s2-brand-container {
  margin: 2.25rem;
}

.s2-brand-intro {
  text-align: center;
  font-size: 20px;
}

.s2-brand-intro .notify-container {
  display: flex;
  justify-content: center;
}

.s2-brand-images {
  margin-top: 1rem;
  text-align: center;
  font-size: 20px;
}

.s2-brand-images img {
  width: 100%;
  margin-top: 1.5rem;
}

.s2-brand-images p {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

/* Drop page */

.drop-clothes {
  overflow-x: scroll;
  max-width: 100%;
  width: 50rem;
  height: 35rem;
  background-image: url(img/drops.png);
  background-size: cover;
  background-attachment: local;
  background-position: center;
}

.drop-clothes-button-container {
  width: 50rem;
  height: 35rem;
}

.drop-clothes-button-container .drop-clothes-button {
  width: 6.75rem;
  position: relative;
}

.drop-clothes-button-container .drop-clothes-button p {
  text-align: end;
  color: white;
}

.drop-clothes-button-container a {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 6.5rem;
  height: 1.5rem;
  text-decoration: none;
  color: white;
  border: 3px solid white;
}

.drop-ed1 {
  left: 9rem;
  top: 17rem;
}

.drop-ed2 {
  left: 23em;
  top: 19rem;
}

.drop-ed3 {
  left: 38rem;
  top: 12rem;
}

.ed-clothes-container {
  padding: 1rem;
  max-width: 100%;
}

.ed-clothes-container img {
  width: 100%;
}

.ed-clothes-title {
  font-size: 2em;
  margin-top: 1rem;
}

.ed-clothes-price {
  margin-top: 0.5rem;
  font-size: 1.75em;
  font-weight: 300;
}

.ed-clothes-size {
  display: flex;
  justify-content: space-between;
  margin-top: 0.75rem;
  font-size: 1.5em;
}

.ed-clothes-size h3 {
  font-weight: 300;
}

.ed-clothes-size-buttons .highlight {
  font-weight: 600;
}

.ed-clothes-size-buttons button {
  font-size: 1.5rem;
  font-weight: 300;
  border: none;
  background: none;
  padding: 0.5rem;
  padding-top: 0;
  padding-bottom: 0;
}

.ed-clothes-quantity {
  display: flex;
  margin-top: 0.75rem;
  justify-content: space-between;
  align-items: center;
}

.ed-clothes-quantity h4 {
  font-weight: 300;
  font-size: 1.25rem;
}

.ed-clothes-quantity-selector {
  display: flex;
  font-size: 1.25rem;
  border: 1px solid #585858;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.ed-clothes-quantity-selector button {
  border: none;
  font-size: 1.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background: none;
}

.ed-clothes-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.ed-clothes-reserve {
  border: none;
  background-color: var(--blue);
  width: 20rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  padding: 0.6rem;
}

.ed-clothes-description-text {
  text-align: center;
  font-size: 1.25rem;
  padding: 1rem;
  margin-top: 1rem;
}

.about-container {
  padding: 1rem;
  max-width: 100%;
}

.about-container section {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  flex-direction: column;
}

.about-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
}

.about-description h2 {
  padding-bottom: 1rem;
}

.about-description p {
  font-size: 1rem;
}

.about-bg-img {
  width: 90vw;
  height: 90vw;
  background-position: center;
  background-size: cover;
}

.background-quality {
  background-image: url(img/qualityhoodie.jpg);
}

.background-0plastic {
  background-image: url(img/cardboardbox.jpg);
}

.background-uniquestyle {
  background-image: url(img/exclusivesustainable.jpg);
}

.about-hover-titlebox {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-top: 12.5%;
  font-size: 1.25rem;
  font-weight: 600;
  height: 20%;
  align-items: center;
}

.about-end {
  padding-bottom: 10rem;
}

.glry-container {
  padding: 1rem;
  padding-bottom: 8rem;
}

.glry-div1 p {
  padding: 1rem;
  text-align: center;
}

.glry-bg1 {
  background-image: url(img/whitehood1.jpg);
}

.glry-bg2 {
  background-image: url(img/whitehood2.jpg);
}

.glry-bg3 {
  background-image: url(img/blackhoodie.png);
}

.glry-bg4 {
  background-image: url(img/whitehood3.jpg);
}

.glry-bg5 {
  background-image: url(img/bluehoodie.png);
}

.glry-bg {
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  background-position: center;
  background-size: cover;
  height: 80vw;
  width: 80vw;
  justify-content: end;
  align-items: end;
  padding: 1rem;
}

.glry-bg button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    45deg,
    rgba(151, 206, 179, 1) 0%,
    rgba(151, 206, 179, 1) 20%,
    rgba(172, 208, 226, 1) 50%,
    rgba(226, 159, 204, 1) 80%,
    rgba(226, 159, 204, 1) 100%
  );
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 100%;
}
.glry-bg button img {
  width: 65%;
}

.checkmark {
  color: var(--green);
  line-height: 1.75rem;
}

.hidden {
  display: none !important;
}
